.about-text { 
  width: 70%
}

.about-content { 
  display: flex; 
  flex-direction: row; 
  align-content: space-between; 
}

.portfolio { 
  display: flex; 
  flex-direction: row; 
  flex-wrap: wrap;
  justify-content: space-between;
}


